.image-file{
    width: 70%;
    height: 70%;
}

.image-info{
    cursor: pointer;
    text-decoration: underline;
}

.image-info:hover{
    color: black;
}

.trash{
    cursor: pointer;
    align-self: center;
}

.trash:hover{
    color: red;
}