@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.pointer {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.confirm {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 0.5rem 2rem;
    border-radius: 10px;
}

.confirm:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37
}

.cancel {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    padding: 0.5rem 2rem;
    border-radius: 10px;
}

.cancel:hover {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
}

/* Remove scrollbars */

.chat::-webkit-scrollbar,
.room-list-item::-webkit-scrollbar,
.user-list-item::-webkit-scrollbar,
.text-zone::-webkit-scrollbar,
.chat-zone::-webkit-scrollbar {
    display: none;
}

/* Media queries */

@media screen and (max-width: 640px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .private-actions {
        width: 90vw;
    }

    .chat {
        flex-direction: column;
    }

    .chat-zone-hotbar {
        justify-content: space-between;
    }

    .room-list-item, .user-list-item {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 50;
        top: 0;
        overflow-x: hidden;
        transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .user-list-item {
        right: 0;
    }

    .room-list-item {
        left: 0;
    }

    .arrow-left-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        padding-top: 1rem;
    }

    .hotbar-arrow-right {
        padding-left: 1rem;
    }

    .hotbar-arrow-left {
        padding-right: 0.5rem;
    }

    .user-title-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
    }
}