.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #F3EBF6;
}

.join-chat {
    background-color: #FFFFFF;
    width: 400px;
    height: 380px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 30, 108, 0.14);
}

.signin-header {
    padding-top: 20px;
    color: #001E6C;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    margin-bottom: 0;
}

.hasError {
    visibility: visible;
    color: darkred;
    text-align: center;
    padding: 0 1rem;
    height: 38px;
}

.hasNoError {
    visibility: hidden;
    height: 38px;
}

#input-username, #input-room {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(0, 30, 108, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: "Montserrat", sans-serif;
}

#input-username:focus, #input-room:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#submit-user {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #001E6C;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 600px) {
    .join-chat {
        border-radius: 0px;
    }
}