.input-zone {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: #E2E2E2;
}

.image-container > #send-image {
    display: none;
}

.image-container {
    position: relative;
    left: 0.5rem;
}

#send-message {
    display: table-cell;
    width: 100%;
    height: 100%;
    min-width: 500px;
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1rem;
    border: none;
    background-color: #E2E2E2;
}

#send-message:focus {
    outline: none;
    border: none;
}

#send-message::placeholder {
    font-family: 'Montserrat', sans-serif;
}

.big-font {
    font-size: 1.5rem;
    cursor: pointer;
}

.ml-24 {
    margin-left: 24px;
}

.red {
    color: red;
}

.send-public-message-icon{
    padding-right: 1.5rem;
}