.user-list-item{
    width: 12.5vw;
    height: 100vh;
    border-left: 1px solid black;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    text-align: center;
}

.user-title{
    text-decoration: underline;
}

.user{
    cursor: pointer;
}

.you{
    text-decoration: underline;
}

.user.you{
    cursor: default;
}

.ReactModal__Overlay {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateY(-100px);
}