.user-list-item {
    width: 12.5vw;
    height: 100vh;
    border-left: 1px solid black;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    text-align: center;
}

.user-title {
    text-decoration: underline;
}

.user {
    cursor: pointer;
}

.you {
    text-decoration: underline;
}

.user.you {
    cursor: default;
}

.modal-user {
    display: flex;
    flex-direction: column;
}

.modal-user p{
    text-align: center;
}

.private-actions > #send-private-image {
    display: none;
}

.private-actions {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-private-message{
    display: table-cell;
    width: 100%;
    height: 5vh;
    margin: 0 1rem;
}

.very-big-font{
    font-size: 1.75rem;
    cursor: pointer;
}

.private-actions button{
    padding: 0.4rem;
}

.ReactModal__Overlay {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateY(-100px);
}