.user-list-item {
    width: 12.5vw;
    height: 100vh;
    border-left: 1px solid black;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    text-align: center;
    background-color: #FFF;
}

.user-title {
    text-decoration: underline;
}

.user.underline {
    cursor: default;
}

.modal-user {
    display: flex;
    flex-direction: column;
}

.modal-user p {
    text-align: center;
}

.private-actions > #send-private-image {
    display: none;
}

.private-actions {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#send-private-message {
    display: table-cell;
    width: 100%;
    min-width: 100px;
    height: 5vh;
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
    margin: 0 1rem;
    background-color: #E2E2E2;
    border: 1px solid black;
}

#send-private-message::placeholder {
    font-family: 'Montserrat', sans-serif;
}

.very-big-font {
    font-size: 1.75rem;
}

.private-actions button {
    padding: 0.4rem;
}

.ReactModal__Overlay {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateY(-100px);
}

.private-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ban-container {
    padding: 0.25rem;
    background-color: black;
    border-radius: 100px;
}

.blocked {
    color: red;
}

.private-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
